/**
 * @license
 * MyFonts Webfont Build ID 3323063, 2016-12-20T10:31:58-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: AvenirLTStd-Light by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir/35-light/
 * 
 * Webfont: AvenirLTStd-LightOblique by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir/35-light-oblique/
 * 
 * Webfont: AvenirLTStd-Oblique by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir/55-oblique/
 * 
 * Webfont: AvenirLTStd-Roman by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir/55-roman/
 * 
 * Webfont: AvenirLTStd-HeavyOblique by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir/85-heavy-oblique/
 * 
 * Webfont: AvenirLTStd-Heavy by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir/85-heavy/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3323063
 * Licensed pageviews: 250,000
 * Webfonts copyright: Copyright &#x00A9; 1989, 1995, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1995, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 * 
 * © 2016 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
/*@import url("//hello.myfonts.net/count/32b4b7");*/

  
@font-face {font-family: 'AvenirLTStd-Light';src: url('../fonts/avenir/32B4B7_0_0.eot');src: url('../fonts/avenir/32B4B7_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/avenir/32B4B7_0_0.woff2') format('woff2'),url('../fonts/avenir/32B4B7_0_0.woff') format('woff'),url('../fonts/avenir/32B4B7_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirLTStd-LightOblique';src: url('../fonts/avenir/32B4B7_1_0.eot');src: url('../fonts/avenir/32B4B7_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/avenir/32B4B7_1_0.woff2') format('woff2'),url('../fonts/avenir/32B4B7_1_0.woff') format('woff'),url('../fonts/avenir/32B4B7_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirLTStd-Oblique';src: url('../fonts/avenir/32B4B7_2_0.eot');src: url('../fonts/avenir/32B4B7_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/avenir/32B4B7_2_0.woff2') format('woff2'),url('../fonts/avenir/32B4B7_2_0.woff') format('woff'),url('../fonts/avenir/32B4B7_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirLTStd-Roman';src: url('../fonts/avenir/32B4B7_3_0.eot');src: url('../fonts/avenir/32B4B7_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/avenir/32B4B7_3_0.woff2') format('woff2'),url('../fonts/avenir/32B4B7_3_0.woff') format('woff'),url('../fonts/avenir/32B4B7_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirLTStd-HeavyOblique';src: url('../fonts/avenir/32B4B7_4_0.eot');src: url('../fonts/avenir/32B4B7_4_0.eot?#iefix') format('embedded-opentype'),url('../fonts/avenir/32B4B7_4_0.woff2') format('woff2'),url('../fonts/avenir/32B4B7_4_0.woff') format('woff'),url('../fonts/avenir/32B4B7_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirLTStd-Heavy';src: url('../fonts/avenir/32B4B7_5_0.eot');src: url('../fonts/avenir/32B4B7_5_0.eot?#iefix') format('embedded-opentype'),url('../fonts/avenir/32B4B7_5_0.woff2') format('woff2'),url('../fonts/avenir/32B4B7_5_0.woff') format('woff'),url('../fonts/avenir/32B4B7_5_0.ttf') format('truetype');}
 