@import 'bootstrap.less';
@import './jorb-functions';
@import './jorb-variables';
@import './components/fa-check';
@import './components/nav-toggler';
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-wrap {
  white-space: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 200;
  color: #666666;
}

h1 {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 24px;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

h5 {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-weight: inherit;
}

.hr-title {
  font-weight: 200;
  font-size: 30px;
  color: #666666;
  text-align: center;
}

.hr-divider-heading {
  color: #999999;
}

.btn-link {
  font-weight: 400;
}

.btn-link.btn-success {
  color: @state-success-text;
}

.btn-link.btn-info {
  color: @state-info-text;
}

.btn-link.btn-warning {
  color: @state-warning-text;
}

.btn-link.btn-danger {
  color: @state-danger-text;
}

.btn-link.btn-primary {
  color: @brand-primary;
}

.btn.small {
  font-size: 10px;
}

.btn-white {
  &:extend(.btn-default);
  background-color: white;
  border: 1px solid #dddddd;
  color: black;
}

.table.table-sm th,
.table.table-sm td {
  font-size: 11px;
}

/* make font-awesome icons with with the toolkip input-with-icon class */

.input-with-icon>.fa.icon::before {
  font: normal normal normal 14px/1 FontAwesome;
  top: 4px;
}

.input-with-icon-sm>.fa.icon::before {
  top: 1px;
}

.input-with-icon>.icon-right {
  right: 10px;
  left: auto;
}

.input-expandable {
  width: 25px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0);
  -webkit-transition: width 500ms, border-color 500ms;
  -moz-transition: width 500ms, border-color 500ms;
  -ms-transition: width 500ms, border-color 500ms;
  -o-transition: width 500ms, border-color 500ms;
  transition: width 500ms, border-color 500ms;
  &.expanded,
  &:focus {
    width: 150px;
    border-color: @input-border-focus;
  }
}

/* flexbox ---------------------------------------------------------------------------------------------------------- */

.flex-height body,
/* @see jorb-html.less for <html> element styles */

body.flex-height {
  height: 100%;
  margin: 0;
  padding: 0;
}

.flex-height-container {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

.flex-height-sidebar {
  background-color: @sidebar-background;
  width: 250px;
  -ms-flex: 0 100px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  height: 100%;
}

.flex-height-sidebar .flex-height-sidebar-header {
  background-color: transparent;
  color: #999999;
  padding: 30px 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.flex-height-content {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  height: 100%;
}

/* bootstrap extensions --------------------------------------------------------------------------------------------- */

.modal-dialog.modal-dialog-full {
  margin: 0 auto;
  position: absolute;
  height: auto;
  width: auto;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
}

.modal-dialog.modal-dialog-full .modal-content {
  position: absolute;
  height: auto;
  width: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal-dialog.modal-dialog-full .modal-body {
  position: absolute;
  height: auto;
  width: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
}

.row-no-margin .col-xs-0,
.row-no-margin .col-xs-1,
.row-no-margin .col-xs-2,
.row-no-margin .col-xs-3,
.row-no-margin .col-xs-4,
.row-no-margin .col-xs-5,
.row-no-margin .col-xs-6,
.row-no-margin .col-xs-7,
.row-no-margin .col-xs-8,
.row-no-margin .col-xs-9,
.row-no-margin .col-xs-10,
.row-no-margin .col-xs-11,
.row-no-margin .col-xs-12,
.row-no-margin .col-sm-0,
.row-no-margin .col-sm-1,
.row-no-margin .col-sm-2,
.row-no-margin .col-sm-3,
.row-no-margin .col-sm-4,
.row-no-margin .col-sm-5,
.row-no-margin .col-sm-6,
.row-no-margin .col-sm-7,
.row-no-margin .col-sm-8,
.row-no-margin .col-sm-9,
.row-no-margin .col-sm-10,
.row-no-margin .col-sm-11,
.row-no-margin .col-sm-12,
.row-no-margin .col-md-0,
.row-no-margin .col-md-1,
.row-no-margin .col-md-2,
.row-no-margin .col-md-3,
.row-no-margin .col-md-4,
.row-no-margin .col-md-5,
.row-no-margin .col-md-6,
.row-no-margin .col-md-7,
.row-no-margin .col-md-8,
.row-no-margin .col-md-9,
.row-no-margin .col-md-10,
.row-no-margin .col-md-11,
.row-no-margin .col-md-12,
.row-no-margin .col-lg-0,
.row-no-margin .col-lg-1,
.row-no-margin .col-lg-2,
.row-no-margin .col-lg-3,
.row-no-margin .col-lg-4,
.row-no-margin .col-lg-5,
.row-no-margin .col-lg-6,
.row-no-margin .col-lg-7,
.row-no-margin .col-lg-8,
.row-no-margin .col-lg-9,
.row-no-margin .col-lg-10,
.row-no-margin .col-lg-11,
.row-no-margin .col-lg-12 {
  padding-left: 0;
  padding-right: 0;
}

.nav-tabs>li>a {
  outline: none;
}

.tabs-left>.nav-tabs {
  border-bottom: 0;
}

.tab-content>.tab-pane,
.pill-content>.pill-pane {
  display: none;
}

.tab-content>.active,
.pill-content>.active {
  display: block;
}

.tabs-left>.nav-tabs>li {
  float: none;
}

.tabs-left>.nav-tabs>li>a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left>.nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left>.nav-tabs>li>a {
  margin-right: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/*.nav.nav-tabs > li.active > a*/

.tabs-left>.nav.nav-tabs>li>a:hover,
.tabs-left>.nav.nav-tabs>li>a:focus {
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
}

.tabs-left>.nav.nav-tabs .active>a,
.tabs-left>.nav.nav-tabs .active>a:hover,
.tabs-left>.nav.nav-tabs .active>a:focus {
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15);
  *border-right-color: #ffffff;
}

/* utility ------------------------------------------------------------- */

.text-warning {
  color: @brand-warning;
}

.text-success {
  color: @brand-success;
}

.p0 {
  padding: 0 !important;
}

.p5 {
  padding: 5px !important;
}

.p10 {
  padding: 10px !important;
}

.p15 {
  padding: 15px !important;
}

.p20 {
  padding: 20px !important;
}

.p25 {
  padding: 25px !important;
}

.p50 {
  padding: 50px !important;
}

.p75 {
  padding: 75px !important;
}

.p100 {
  padding: 100px !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pt75 {
  padding-top: 75px !important;
}

.pt100 {
  padding-top: 100px !important;
}

.pr0 {
  padding-right: 0 !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pr50 {
  padding-right: 50px !important;
}

.pr75 {
  padding-right: 75px !important;
}

.pr100 {
  padding-right: 100px !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.pb75 {
  padding-bottom: 75px !important;
}

.pb100 {
  padding-bottom: 100px !important;
}

.pl0 {
  padding-left: 0 !important;
}

.pl5 {
  padding-left: 5px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.pl50 {
  padding-left: 50px !important;
}

.pl75 {
  padding-left: 75px !important;
}

.pl100 {
  padding-left: 100px !important;
}

.m0 {
  margin: 0 !important;
}

.m5 {
  margin: 5px !important;
}

.m10 {
  margin: 10px !important;
}

.m15 {
  margin: 15px !important;
}

.m20 {
  margin: 20px !important;
}

.m25 {
  margin: 25px !important;
}

.m50 {
  margin: 50px !important;
}

.m75 {
  margin: 75px !important;
}

.m100 {
  margin: 100px !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt75 {
  margin-top: 75px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mr75 {
  margin-right: 75px !important;
}

.mr100 {
  margin-right: 100px !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.ml0 {
  margin-left: 0 !important;
}

.ml5 {
  margin-left: 5px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.ml75 {
  margin-left: 75px !important;
}

.ml100 {
  margin-left: 100px !important;
}

.max-w-0 {
  max-width: 0 !important;
}

.max-w-5 {
  max-width: 5px !important;
}

.max-w-10 {
  max-width: 10px !important;
}

.max-w-15 {
  max-width: 15px !important;
}

.max-w-20 {
  max-width: 20px !important;
}

.max-w-25 {
  max-width: 25px !important;
}

.max-w-50 {
  max-width: 50px !important;
}

.max-w-75 {
  max-width: 75px !important;
}

.max-w-100 {
  max-width: 100px !important;
}

.max-w-150 {
  max-width: 150px !important;
}

.max-w-200 {
  max-width: 200px !important;
}

.max-w-250 {
  max-width: 250px !important;
}

.max-w-300 {
  max-width: 300px !important;
}

.min-w-0 {
  min-width: 0 !important;
}

.min-w-5 {
  min-width: 5px !important;
}

.min-w-10 {
  min-width: 10px !important;
}

.min-w-15 {
  min-width: 15px !important;
}

.min-w-20 {
  min-width: 20px !important;
}

.min-w-25 {
  min-width: 25px !important;
}

.min-w-50 {
  min-width: 50px !important;
}

.min-w-75 {
  min-width: 75px !important;
}

.min-w-100 {
  min-width: 100px !important;
}

.min-w-150 {
  min-width: 150px !important;
}

.min-w-200 {
  min-width: 200px !important;
}

.min-w-250 {
  min-width: 250px !important;
}

.min-w-300 {
  min-width: 300px !important;
}

.clickable {
  cursor: hand;
  cursor: pointer;
}

.modal-full {
  width: ~'calc(100% - 10px)';
  height: ~'calc(100% - 20px)';
  margin: 10px auto;
  .modal-content {
    .mixin-flexflow-column-nowrap;
    height: 100%;
    overflow: auto;
    .modal-header,
    .modal-footer {
      .mixin-flex-nogrow;
    }
    .modal-body {
      .mixin-flex-grow;
    }
  }
}
