@import "avenir-fonts.less";
@avenir-roman: "AvenirLTStd-Roman";
@avenir-light: "AvenirLTStd-Light";
@avenir-heavy: "AvenirLTStd-Heavy";
@font-family-sans-serif: @avenir-roman,
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
.jorb-avenir body,
.jorb-avenir .tooltip,
.jorb-avenir .popover {
    font-family: @avenir-roman;
}

.jorb-avenir h1,
.jorb-avenir h2,
.jorb-avenir h3,
.jorb-avenir h4,
.jorb-avenir h5,
.jorb-avenir h6,
.jorb-avenir .text-light {
    font-family: @avenir-light;
}

.icon-tile-title {
    font-family: @avenir-heavy;
}

.fa-text {
    font-family: @avenir-heavy  !important;
    font-weight: 900;
    margin-top: 1px;
}

.text-light {
    font-family: @avenir-light  !important;
}

.text-heavy {
    font-family: @avenir-heavy  !important;
}

.text-roman {
    font-family: @avenir-roman  !important;
}
