@import "~bootstrap/less/variables.less";
@red: #ff2d55;
@yellow: #ffcc00;
@green: #4cd964;
@blue: #007aff;
@lightblue: #50b1ff;
@black: #00142a;
@purewhite: #fff;
@lightgrey: #f8f8fb;
@bdrgrey: #ececf6;
@midgrey: #b3b9c0;
@darktext: #686872;
@primary-colors-list: "red",
"yellow",
"green",
"blue",
"lightblue",
"black",
"purewhite",
"lightgrey",
"bdrgrey",
"midgrey";
@brand-primary: @blue; // #337ab7
@brand-success: @green;
@brand-info: @lightblue;
@brand-danger: @red;
@brand-warning: @yellow;
@sidebar-background: #f3f3f3;
@text-color: @black;
//generators for stylings based on all our primary palette
.background-coloring(@color, @opacity: 100%, @suffix: ~'') {
    .bg-@{color}@{suffix} {
        background-color: fade(@@color, @opacity);
    }
}

.coloring(@color, @opacity: 100%, @suffix: ~'') {
    .@{color}@{suffix} {
        color: fade(@@color, @opacity);
    }
}

.border-colorings(@color, @location: ~'', @size: 1px, @sizesuffix: ~'') {
    .border@{sizesuffix}-@{color}@{location} {
        border@{location}: @size solid @@color  !important;
    }
}

.generate-colorings(@i) when (@i =< length(@primary-colors-list)) {
    .background-coloring(e(extract(@primary-colors-list, @i)));
    .background-coloring(e(extract(@primary-colors-list, @i)), 20%, ~'-light');
    .background-coloring(e(extract(@primary-colors-list, @i)), 30%, ~'-medium');
    .background-coloring(e(extract(@primary-colors-list, @i)), 70%, ~'-dark');
    .coloring(e(extract(@primary-colors-list, @i)));
    .coloring(e(extract(@primary-colors-list, @i)), 20%, ~'-light');
    .coloring(e(extract(@primary-colors-list, @i)), 30%, ~'-medium');
    .coloring(e(extract(@primary-colors-list, @i)), 70%, ~'-dark');
    .border-colorings(e(extract(@primary-colors-list, @i)));
    .border-colorings(e(extract(@primary-colors-list, @i)), ~'-top');
    .border-colorings(e(extract(@primary-colors-list, @i)), ~'-bottom');
    .border-colorings(e(extract(@primary-colors-list, @i)), ~'-right');
    .border-colorings(e(extract(@primary-colors-list, @i)), ~'-left');
    .border-colorings(e(extract(@primary-colors-list, @i)), ~'', 2px, ~'-med');
    .border-colorings(e(extract(@primary-colors-list, @i)), ~'-top', 2px, ~'-med');
    .border-colorings(e(extract(@primary-colors-list, @i)), ~'-bottom', 2px, ~'-med');
    .border-colorings(e(extract(@primary-colors-list, @i)), ~'-right', 2px, ~'-med');
    .border-colorings(e(extract(@primary-colors-list, @i)), ~'-left', 2px, ~'-med');
    .border-colorings(e(extract(@primary-colors-list, @i)), ~'', 3px, ~'-thick');
    .border-colorings(e(extract(@primary-colors-list, @i)), ~'-top', 3px, ~'-thick');
    .border-colorings(e(extract(@primary-colors-list, @i)), ~'-bottom', 3px, ~'-thick');
    .border-colorings(e(extract(@primary-colors-list, @i)), ~'-right', 3px, ~'-thick');
    .border-colorings(e(extract(@primary-colors-list, @i)), ~'-left', 3px, ~'-thick');
    .generate-colorings((@i + 1));
}

.generate-colorings(1);
