/* gutter ------------------------------------------------------------------------------------------------------- */
.gutter-container
{
	display: table;
	width: 100%;


	.gutter-row
	{
		display: table-row;
		.gutter,
		.gutter-content,
		.gutter-header,
		.gutter-footer
		{
			display: table-cell;

			hr
			{
				margin: 0;
				padding: 0;
				border-top: 1px solid #efefef;
			}

			hr.dark
			{
				border-top: 1px solid #cccccc;
			}
		}

		.gutter
		{
			width: 20%;
			text-align: right;
			vertical-align: top;

			h1,h2,h3,h4,h5,h6
			{
				padding: 20px;
				color: #999999;
			}

			.mce-btn button,
			.mce-btn .mce-ico
			{
				color: #666666;
				font-size: 12px;
			}
		}

		.gutter-content
		{
			border-left: 1px solid #cccccc;
			border-right: 1px solid #cccccc;
			background-color: white;
		}
	}
}